:root {
    --cor-de-fundo: #363636;
    --cor-cabecalho: #363636;
    --fundo-menu: #363636;
}

body {  
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-cabecalho);
}

.cabecalho-título {
    font-size: 36px;
    font-weight: 750;
    padding: 10px;
    text-align: center;

}

.cabecalho-menu {
    background-color: var(--fundo-menu);
}

.cabecalho-menu-item     {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color:black;
    text-align: center;
    border-top: 1px solid;
    


}
